h4{
    text-align: center;
}

.container{
    color: #87bcf8;
    width : 50vw
}

input::placeholder {
    color: #e3f2fdc9;
  }


.form-control{
    background-color:transparent !important;
    border-style:dotted;
    border-color: rgb(65, 125, 255);
    color: #e3f2fdc9;
}
.jumbotron{
    background-color:transparent !important;
    border-style:double;
    border-color: rgb(65, 125, 255);
    width : 50vw
}