html{
    
     background-image:url('http://www.hddesktopbackgrounds.us/backgrounds-images/1920x1080/paove-desktop-1624526-1920x1080.jpg');
   }

h4{
    text-align: center;
}

h5{
    text-align: center;
}

.jumbotron{
    color: rgb(red, green, blue);
}