.form-control{
    background-color:transparent !important;
    border-style:dotted;
    border-color: rgb(65, 125, 255);
}
.jumbotron{
    background-color:transparent !important;
    border-style:double;
    border-color: rgb(65, 125, 255);
    width: 50vw
    
}

.container{
    color: #87bcf8;
    width: 50vw
}

input::placeholder {
    color: #e3f2fdc9;
  }


#inputLogPassword{
    color: #e3f2fdc9;
}


h4{
    text-align: center;
}

h5{
    text-align: center;
}
