<div id="msg" class="container">
    <div class="home-row homepage-container" layout="row" layout-xs="column">
        <br>
        <h4>
            Bienvenue sur Interact'Collabs !
            <br>
            <br> Ne soyez pas le seul à parler durant vos présentations!
            <br> Rendez-les plus interactives et faites participer votre public!
        </h4>
    </div>
</div>
<div id="formulaire" class="container">
    <div class="jumbotron">
        <h5>Identifiez-vous
            <br>
        </h5>
        <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
            <div class="form-group row">
                <label for="inputLogEmail" class="col-sm-3 col-form-label col-form-label-sm">Email</label>
                <div class="col-sm-5">
                    <input type="email" name="email" class="form-control form-control-sm" id="inputLogEmail" placeholder="you@example.com" [(ngModel)]="model.email"
                        required #email="ngModel">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputLogPassword" class="col-sm-3 col-form-label col-form-label-sm">Mot de passe</label>
                <div class="col-sm-5">
                    <input type="password" name="password" class="form-control form-control-sm" id="inputLogPassword" [(ngModel)]="model.password"
                        required #password="ngModel">
                </div>
            </div>
            <input class="btn btn-primary btn-sm-10 float-right" type="submit" value="Connexion" role="button" [disabled]="!f.form.valid">

        </form>
        <div id="loginFalse">
            {{messageErreur}}
        </div>
        <br>
        <br>
        <br>
        <div>
            Pas de compte ?
            <a routerLink="/newmember" role="button">Créez-en un ! </a>
        </div>
    </div>


</div>


