<!-- Image and text -->
<word-cloud [wordData]="data"></word-cloud>


<app-header></app-header>
 <!--  <div class="abc">
    WORD CLOUD TRY.......
   <svg width="100%" height="1200" class="mySvg" (click)="clicked($event)">

    </svg> 
   <div AgWordCloud [wordData]="wordData" [options]="options"></div>

</div> -->
<router-outlet></router-outlet>



<!-- <footer class="footer">
    <div class="container">
        © 2017 Copyright: Berkane Karim, Srikanthan Vanessa
    </div>
</footer> -->