<div  class="container">
  <br>
  <div id="msg" class="jumbotron" layout="row" layout-xs="column">

    Nous vous souhaitons de nouveau un bienvenue parmi nous!
    <br> Vous vous êtes souvent rendu compte que vous êtiez le seul à parler pendant vos présentations?
    <br>Que personne ne vous donniez son avis sur ce dont vous parliez ?
    <br>Qu'une certaine quantité de personne ne vous répondez pas ?
    <br>Eh bien ! C'est pour cela qu'Interact'Collabs vient à votre aide!

    
  </div>
</div>