<div id="msg" class="bd-pageheader">
  <br>
  <div class="container">
    <h1> A propos de nous </h1>
    <p class="lead">

      Learn about the project's history, meet our teams, and find out how to use Interact'Collabs.
    </p>
  </div>
</div>
<br><br><br><br>
<div class="container" id="abc">
    Nous vous souhaitons de nouveau un bienvenue parmi nous!
  <br> Vous vous êtes souvent rendu compte que vous êtiez le seul à parler pendant vos présentations?
  <br>Que personne ne vous donniez son avis sur ce dont vous parliez ?
  <br>Qu'une certaine quantité de personne ne vous répondez pas ?
  <br>Eh bien ! C'est pour cela qu'Interact'Collabs vient à votre aide! 

  </div>